@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #121219;
}
ul {
    list-style: none;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #121219;
}
