@charset 'utf-8';

#wrap {
    position: relative;
    width: 100%;
    min-width: 1220px;
}
/* Header */
#header {
    position: relative;
}
#header_inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 80px;
    margin: 0 auto;    
}
/* 헤더 로고 */
.logo a {
    display: block;
    width: 138px;
    height: 20px;
    background-image: url(../Img/logo.gif);
    text-indent: -999999px;
}
#header_inner ul {
    display: flex;
}
.gnb {
    position: absolute;
    top: 30px;
    left: 260px;    
}
.gnb ul {
    display: flex;
}
.gnb li {
    margin-right: 60px;    
}
.gnb li a {
    color: #222;
    font-size: 18px;
}
/* 헤더 유틸 */
.util ul {
    display: flex;
}
.util li {
    margin-left: 19px;    
}
.util li a {
    color: #666;
}
.util li a:hover {
    color: #222;
}
.util img {
    display: block;
    width: 22px;
    height: 20px;   
}
/* main 1*/
#main {    
    width: 1220px;
    margin: 0 auto;       
}
#main div {
    margin: 0 0 40px 0;
}
.slide {
    position: relative;
}
.slide img{    
    height: 350px;
}
/* .slide a {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -800px;
} */
.ImgBox1 {
    padding: 0 170px;
}
.ImgBox1 img {
    width: 400px;
    height: 150px;
    margin: 0 8px;
}
/* main 2 */
h3 {
    padding: 0 175px;
}
h3 .Item_Title {
    font-weight: lighter;
    color: #575759;
}
h3 .Item_More {
    margin-left: 625px;
    font-size: 10px;
    font-weight: lighter;
    color: #aaa;
}
.ImgBox2 {
    padding: 0 170px;
}
.ImgBox2 .ItemBox li {    
    text-align: center;
    margin: 0 3px;
}
.ImgBox2 img {
    width: 192px;
    height: 192px;
    border: 1px solid rgb(240, 239, 239);
}
.ImgBox2 .Item li:nth-child(2) {
    margin-top: 5px;
    color: #292929;
}
.ImgBox2 .Item li:nth-child(3) {
    color: #797979;
}
.ImgBox2 .Item li:nth-child(4) {
    margin-top: 4px;
    color: #292929;
}
.ImgBox2 .blank {
    text-indent: -9999999px;
}
/* main 3 */
.ImgBox3 {
    padding: 0 170px;
}
.ImgBox3 img{
    /* position: relative; */
    width: 260px;
    height: 115px;
    margin: 0 10px;
}
.ImgBox3 li {
    position: relative;
}
.ImgBox3 .img_text1,
.ImgBox3 .img_text2,
.ImgBox3 .img_text3 {
    position: absolute;    
    bottom: 40px;
    left: 25px;
    display: block;
    font-size: 11px;
    color: #797979;
}
.ImgBox1 ul, .ImgBox2 .ItemBox, .ImgBox3 ul {
    display: flex;
}
/* footer 1*/
#footer {
    width: 1220px;
    margin: 0 auto;    
    border-top: 1px solid #ccc;
}
.footer_1 {
    margin-top: 10px;
    padding: 0 175px;       
}
.footer_1 ul{
    display: flex;
}
.footer_1 ul li{
    margin: 0 5px;
    font-size: 5px;
    color: #797979;
}
.footer_1 ul li:nth-child(5) {
    color: deeppink;
}
/* footer 2 */
.footer_2 {    
    margin-top: 15px;
    padding: 0 180px;
    font-size: 10px;
}
.footer_2 .footer2_ul{
    display: flex;    
    color: #797979;
}
.footer_2 .footer2_ul li a img {
    margin-top: 7px;
}
#footer_inicis {
    margin-top: -30px;
    margin-left: 180px;
}
